<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>{{ title }}</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h2>{{ model.title }}</h2>-->

<!--    <small>{{ model.created_at }}</small>-->

<!--    <p>-->
<!--        {{ model.content }}-->
<!--    </p>-->

<!--    <p><strong>Comments ({{ model.comment_set.count }}):</strong></p>-->

<!--&lt;!&ndash;    <ul>&ndash;&gt;-->
<!--&lt;!&ndash;        {% for comment in model.comment_set.all %}&ndash;&gt;-->
<!--&lt;!&ndash;            <li>{{ comment.content }}</li>&ndash;&gt;-->
<!--&lt;!&ndash;        {% endfor %}&ndash;&gt;-->
<!--&lt;!&ndash;    </ul>&ndash;&gt;-->
<!--        {% if model.comment_set.count == 0 %}-->
<!--            <p>Be the first person to comment</p>-->
<!--        {% else  %}-->
<!--            <ul>-->
<!--                {% for comment in model.comment_set.all %}&ndash;&gt;-->
<!--                    <li>{{ comment.content }}</li>-->
<!--                {% endfor %}-->
<!--            </ul>-->

<!--</body>-->
<!--</html>-->


{% extends 'site/index.html' %}

{% block content %}
    <h2>{{ model.title }}</h2>

    <small>{{ model.created_at }}</small>

    <p>
        {{ model.content }}
    </p>

    <p><strong>Comments ({{ model.comment_set.count }}):</strong></p>
        {% if model.comment_set.count == 0 %}
            <p>Be the first person to comment</p>
        {% else  %}
            <ul>
                {% for comment in model.comment_set.all %}-->
                    <li>{{ comment.content }}</li>
                {% endfor %}
            </ul>

{% endblock content %}